page-home {
    ion-card{
        height:100%;
        text-align: center;
        background:#e2e2ff;
    }
    ion-title{
        //text-align: center;
    }
    .card-subtitle {
        font-size: 1em;
        font-weight: bold;
        color: brown;
      }
    ion-icon{
        font-size: 2em;
        display: block;
    }
}
ion-app.md [padding] .scroll-content {
    padding:0px !important;
}
.card-md {
    width: calc(100% - 10px) !important;
    margin: 5px !important;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#fff !important;
}